@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn{
    font-size: 18px;
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: white;
}
/* Header Style */
.header-container{
   
    width: 1519px;
    height: 800px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header-left{
    width: 708px;
    height: 506px;
    margin-left: 200px;
}
.header-left h1{
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
}
.header-left p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.header-right{
    width: 635px;
    height: 750px;
    margin: 50px 200px 0 0;
}
.header-right img{
    height: 100%;
    width: 100%;

}