@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn{
    font-size: 18px;
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: white;
}
/* Header Style */
.header-container{
   
    width: 1519px;
    height: 800px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header-left{
    width: 708px;
    height: 506px;
    margin-left: 200px;
}
.header-left h1{
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
}
.header-left p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.header-right{
    width: 635px;
    height: 750px;
    margin: 50px 200px 0 0;
}
.header-right img{
    height: 100%;
    width: 100%;

}
/* Section one style */
.section-one{
    width: 1300px;
    height: 667px;
    margin: 0 auto;
    margin-top: 100px;
}
.s1-title{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.s1-title h3{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.s1-title p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.s1-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 50%;
}
.card img{
    height: 90%;
    width: 80%;   
}
.card p{
    font-size: 18px;
    font-family: Lato;
    color: rgb(39, 39, 39);
}
/* Section two */
.section-two{
    border-radius: 12px;
    background: rgba(39, 39, 39, 0.05);
    width: 1300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
}
.s2-container{
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    align-items:center ;
}
.service{
    text-align: center;
}